// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

body {
  background-image: url("https://th.bing.com/th/id/OIP.1pK9o20xWEc4MRudtx__9wHaEK?pid=ImgDet&w=474&h=266&rs=1");
}
