.dashboard {
  color: white;
  font-family: "Share Tech Mono";
  text-align: center;
}

.dashboard h1 {
  font-family: "Share Tech Mono";
  font-weight: bolder;
  font-size: 150px;
}

.dashboard h2 {
  font-style: oblique;
  font-family: "Share Tech Mono";
}

.boite{
  border-style: dashed;
  border-color: white;
}
// .tech {
//   font-family: "Share Tech Mono";
// }
