<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://astronomy.com/-/media/Images/News%20and%20Observing/News/2019/07/BFR_Sep_Longnose.jpg?mw=600);">
  <div class="container">
    <h1>SPACE BNB </h1>
    <h3><strong>Travel towards your dreams, go as far as you want to go!</strong></h3>
    <%= link_to "Check our Spaceships", spacecrafts_path, class: "btn btn-flat" %>
  </div>
</div>
