#simple-form {
  width: 480px;
  margin: 0 auto;
  background-color: white;
  padding: 40px 50px 40px;
  box-shadow: 1px 4px 10px 1px rgb(141, 136, 136);
  font-family: sans-serif;
  color: rgb(19, 17, 17);
  border-radius: 20px;
  text-align:left;
  